@charset "utf-8";
html{
  overflow-y:scroll;
}
body{
  background: #fff;
}

/*
 * Layout
 */
#container{
  margin:0 auto;
  width:750px;
}
section{
}

/*
 * In Header
 */

nav{
}
  nav a{
    font-size:larger;
  }

/*
 * In Primary
 */
section article{
  padding-bottom:7px;
  background: transparent url("data:image/png;base64,R0lGODlhSAABAIAAAP///2ZmZiH5BAEHAAAALAAAAABIAAEAAAINDG54kLwNn1TU1XhXAQA7") repeat-x left bottom;
}
section article.last{
  background: none;
}

/*
 * Util
 */
nav ul, ul.widgetMenu{
  margin:0;
  padding:0;
}
nav ul li, ul.widgetMenu li{
  display:-moz-inline-box; /* Fx2用のinline-block */
  display:inline-block;
  *display:inline; /* http://centricle.com/ref/css/filters/tests/asterisk/ */
  margin:0;
  vertical-align: bottom;
}
  nav ul li a, ul.widgetMenu li a{
    display:-moz-inline-box; /* Fx2用のinline-block */
    display:inline-block;
    *display:inline; /* http://centricle.com/ref/css/filters/tests/asterisk/ */
    *zoom:1; /* http://centricle.com/ref/css/filters/tests/asterisk/ */
  }
/* vim: set ts=2 sw=2 sts=2 et ff=unix ft=css : */
